# Tags
*tags

# Logs
*.log
*.coverage
logs/

# Mac specific
.DS_Store
.DS_Store?

# Python
__pycache__/
*.egg-info/
.tool-versions
*.pyc

# Python test
*.pytest_cache
*.coverage

# R
*.Rproj.user
renv_3.6.2/
renv_3.6.2.lock

# Config files
.ycm_extra_conf.py

# Open cached files
*.m~
*.*swp
*.*swo

# Compiled sources
*.com
*.class
*.dll
*.exe
*.o
*.so
